.timer {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  letter-spacing: -1px;
  color: white;
}

.timer span {
  font-size: 26px;
  font-weight: bolder;
  margin-right: 1px;
}

.timer span:not(:first-child) {
  margin-left: 15px;
}

.timer h4{
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1.5px;
}
